<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>TODO CATEGORIES</h1>
        <p class="text-info">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
    </div>
</div>

<!-- <div class="input-group mb-3 row ">
    <input type="text" class="form-control drop-shadow " placeholder="Add New Categories here" name="categoryName">

</div> -->
<div class=" input-group mb-3 row">
    <div class="col-sm-10">
        <input type="text" class="form-control drop-shadow " placeholder="Add New Categories here" name="categoryName">
    </div>
    <button class="btn btn-primary col-sm-2 btn-todo drop-shadow" type="submit">Add</button>
</div>

<div class="row categories-list">
    <div class="col-md-3">
        <div class="card drop-shadow">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-start">
                        <div class="badge bg-primary"> CATEGORY </div>
                    </div>
                    <div class="float-end cat-tools">
                        <small><i class="fa fa-pencil-alt text-success"></i></small>
                        <small><i class="fas fa-trash text-danger"></i></small>
                    </div>
                </div>

                <div class="todo-content">
                    <h3>Category</h3>
                    <small class="text-secondary"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </small>
                </div>
                <span class="badge bg-danger">Todos</span>

            </div>
        </div>
    </div>
</div>