.card {
  border: none;
  border-left: 5px solid #0000;
  margin-top: 50px;
  border-bottom-left-radius: 30px;
}

.cat-tools {
  display: none;
}

.cat-tools i {
  margin: 0px 5px;
  cursor: pointer;
}

.categories-list .card:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.categories-list .card:hover,
.cat-tools {
  display: inline;
}

.bg-danger {
  margin-top: 50px;
}

.bg-primary {
  margin-bottom: 20px;
  margin-top: 10px;
}
